.container{
    background-color: #8b84d8;
    border: 1px solid black;
    font-size: 2rem;
    padding: .1rem;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 2rem;
    gap: 1rem;
}
.box1, .box5, .box9, .box13, .box17{
    background-color: #657937;
    grid-column: span 3;
}
.box7{
    grid-column: 5/-1;
    grid-row: 2/6;
}
.box12{
    grid-column: 3/5;
}